
<div class="container-full-windows">
  <nav class="navbar navbar-expand-md navbar-dark  bg-dark">
    <a class="navbar-brand" href="#">MAps</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
      <ul class="navbar-nav mr-auto">

      </ul>

    </div>
  </nav>
  <div class="map">
    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map
      [latitude]="mappSettings.camLat"
      [longitude]="mappSettings.camLng"
      [zoom]="zoom"
      [disableDefaultUI]="false"
      [zoomControl]="true"
      [mapTypeControl]="true"
      (mapClick)="mapClicked($event)"
    >
      <agm-marker
        *ngFor="let mark of markers; let i = index"
        (markerClick)="clickedMarker(mark, i)"
        [latitude]="mark.lat"
        [longitude]="mark.lng"
        [markerDraggable]="mark.dragable"
        (dragEnd)="markerDragEnd(mark, $event, i)"
      >
        <agm-info-window ><strong>{{mark.name}}  </strong>
          <br>
          <a  class="delete" (click)="removeMarker( i)">Delete</a>
        </agm-info-window>
      </agm-marker>
    </agm-map>
  </div>
  <div class="panel panel-default fixPosition">
    <div class="panel-heading">
      <h3 class="panel-title">Add New Marker</h3>
    </div>
    <div class="panel-body">
      <form (submit)="addMarker()">
        <label >Location name</label>
        <input type="text" [(ngModel)]="markerName" name="markerName">

        <label *ngIf="">Latetude</label>
        <input type="text" [(ngModel)]="markerLat" name="markerLat">

        <label >Longetude</label>
        <input type="text" [(ngModel)]="margerLng" name="margerLng">

        <label >Dragable Option</label>
        <select type="text" [(ngModel)]="markerDragable" name="markerDragable">
          <option value="no" selected>No</option>
          <option value="yes">Yes</option>
          <!--<input type="submit" value="Map It">-->
        </select>
        <button class="">Map It</button>
      </form>
    </div>
  </div>
</div>









